@model Yako.UI.Models.RegisterModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/signinup.css" />

<section class="signup-form">
    <div class="card">
        <h1>Kayıt Ol</h1>

        <form asp-action="Register" asp-controller="Account" method="post">
            @Html.AntiForgeryToken()

            <div class="input-group">
                <div class="username-input">
                    <div class="input-box">
                        <input asp-for="UserName" class="input" placeholder=" " maxlength="25" />
                        <label asp-for="UserName" class="input-label">Kullanıcı Adı</label>
                    </div>
                    <span>
                        <p class="mark">!</p>
                        <p class="error-text">@Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })</p>
                    </span>
                </div>

                <div class="email-input">
                    <div class="input-box">
                        <input asp-for="Email" class="input" placeholder=" " />
                        <label asp-for="Email" class="input-label">Email</label>
                    </div>
                    <span>
                        <p class="mark">!</p>
                        <p class="error-text">@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })</p>
                    </span>
                </div>

                <div class="password-input">
                    <div class="input-box">
                        <input asp-for="Password" type="password" class="input" placeholder=" " />
                        <label asp-for="Password" class="input-label">Şifre</label>
                    </div>
                    <span>
                        <p class="mark">!</p>
                        <p class="error-text">@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })</p>
                    </span>
                </div>

                <div class="password-input">
                    <div class="input-box">
                        <input asp-for="RePassword" type="password" class="input" placeholder=" " />
                        <label asp-for="RePassword" class="input-label">Şifre Tekrar</label>
                    </div>
                    <span>
                        <p class="mark">!</p>
                        <p class="error-text">@Html.ValidationMessageFor(m => m.RePassword, "", new { @class = "text-danger" })</p>
                    </span>
                </div>
            </div>

            <button type="submit" id="signup_submit" class="btn">KAYIT OL</button>
        </form>
    </div>

    <div class="under-card">
        <p>Hesabın var mı?</p>
        <a asp-action="Login" asp-controller="Account">
            <button type="button" id="to_login">Giriş Yap</button>
        </a>
    </div>
</section>
